@media screen and (min-width: 200px) {  
    #main-image {
        background-image: url("DSCF2941.JPG");
        background-size: 200%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 576px) {  
    #main-image {
        background-image: url("DSCF2941.JPG");
        background-size: 190%;
        background-position: top left;
    }
}

@media screen and (min-width: 768px) {  
    #main-image {
        background-image: url("DSCF2941.JPG");
        background-size: 150%;
    }
}

@media screen and (min-width: 992px) {  
    #main-image {
        background-image: url("DSCF2941.JPG");
        background-size: 130%;
    }
}

@media screen and (min-width: 1200px) {  
    #main-image {
        background-image: url("DSCF2941.JPG");
        background-size: 150%;
        background-position: left 15%;
        background-repeat: no-repeat;
    }
}